.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.traffic-light{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #333;
    width: 100px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.glow{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}